.header{/* headerの背景と文字 */
    background-color: rgb(108, 206, 9);
    color: white;
}

.header-margin{
    margin: 0px 175px
}

.button-flex{/* headerのボタン等のflex */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {/* タイトルのフォント、flex */
    width: 70%;
    font-size: 30px;
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-top: 10px;
}

.qiita{
    margin-right: 10px;
}

.button{
    width: 20px;
    height: 25px;
}

.keyward{/* キーワードの中の文字を大きくしたい */
    height: 25px;
    width: 300px;
    margin-left: 15px;
}

.yoko{/* コメントと入力フォームをflexする */
    display: flex;
}

.comment{/* headerを左右半分に分ける */
    width: 70%;
}
.comment-title{/* commentの題名部分を中央揃えにする */
    width: 70%;
    margin-top: 70px;
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: bold;
}
.comment-margin{/* commentの文章を中央揃えにする等 */
    width: 70%;
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: 20px;
}
.login-waku{/* 入力フォーム部分の大きさを定義する */
    width: 30%;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.button-flex2{/* SNSのボタンを横並びにする */
    display: flex;
    justify-content: space-between;
}
.github{
    width: 80px;
    height: 35px;
}
.twitter{
    width: 80px;
    height: 35px;
}
.google{
    width: 80px;
    height: 35px;
}

/* 入力項目 */
.user-input{/* ユーザー名のデザイン */
    display: flex;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    justify-content: flex-end;
}
.user-abs{/* ユーザー名のデザインを調整する */
    position: absolute;
    left: -90px;
}
.mail-input{/* メールアドレスのデザイン */
    display: flex;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    justify-content: flex-end;
}
.mail-abs{/* メールアドレスのデザインを調整する */
    position: absolute;
    left: -120px;
}
.pass-input{/* パスワードのデザイン */
    display: flex;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    justify-content: flex-end;
}
.pass-abs{/* パスワードのデザインを調整する */
    position: absolute;
    left: -90px;
}

.tyui{
    font-size: 10px;
}

.center{/* ORの文字を中央揃えにする */
    text-align: center;
}

.input{/* 入力フォームの大きさ */
    width: 100%;
}

.button{/* 不明な設定　改名後消去または修正 */
    font-size: 15px;
    font-weight: 700;
    margin: 0px 0px;
    color:black;
}

.signup{
    width:80px;
    height: 35px;
}

.agree{
    margin-top: 20px;
    margin-bottom: 10px;
}

.privacy{
    margin-bottom: 10px;
}

.robot-waku{
    border: solid 2px black;
    background-color: white;
}

.robot{
    font-size: 20px;
    margin: 5px;
}

.robot-label{
    font-size: 15px;
    font-weight: 300;
    color: black;
    margin-left: 10px;
}