/* 約90行目からスタート */
.main{
    display: flex;
    margin: 0px 175px;
    margin-top: 50px;
}

.main-flex{
    display: flex;
    flex-direction: column;
    width: 15%;
}

.trend{
    background-color: chartreuse;
    color:black;
}
.trend:hover{
    background-color: darkgray;
}

.trend-artcle{
    width: 60%;
    margin: 0px 10px;
    border: solid 3px black;
}

.trend-title{
    border: solid 3px black;
}

.trend-flex{
    display: flex;
    align-items: center;
}

.trend-ward{
    font-size: 20px;
    margin: 0px 10px 10px 10px;
}

.trend-comment{
    font-size: 12px;
    color: darkgray;
}

.tagu-flex{
    display: flex;
}

.tagu{
    color: darkgray;
    margin: 0px 10px;
}

.tagu:hover{
    color: chartreuse;
    border-bottom: solid 2px chartreuse;
    width: 5%;
}

.border-hiku{
    margin-top: 10px;
    width: 100%;
}

.q-feed{
    margin-top: 10px;
}

.hover{
    color: black;
}
.hover:hover{
    background-color: darkgray;
}

.adv{
    width: 25%;
}