<!DOCTYPE html>

<html>
    <head>
        <title>Qiita</title>
        <link rel="stylesheet" href="./qiita-sample.css">
        <link rel="stylesheet" href="./qiita-header.css">
        <link rel="stylesheet" href="./qiita-main.css">
        <link rel="stylesheet" href="./qiita-footer.css">
    </head>
    <body>
        <header class="header">
            <div class="header-margin">
                <div class="button-flex">
                    <div class="title">
                        <p class="qiita">Qiita</p>
                        <input class="button" type="button" value="▽">
                        <form action="#" method="post">
                            <input class="keyward" placeholder="キーワードを入力" type="text" name="serch"></p>
                        </form>
                    </div>
                    <div>
                        <div class="search">
                            <input class="user" type="button" value="ユーザー登録">
                            <input class="button2" type="button" value="ログイン">
                        </div>
                    </div>
                </div>
                <div class="yoko">
                    <div class="comment">
                        <h2 class="comment-title">How developers code is here.</h2>
                        <p class="comment-margin">Qiitaは、エンジニアリングに関する機能を記録・共有するためのサービスです。コードを書いていて気づいたことや、自分がハマったあの仕様についてハマったあの仕様について、他のエンジニアと知見を共有しましょう。</p>
                    </div>
                    <div class="login-waku">
                        <div class="login">
                            <div class="button-flex2">
                                <input class="github" type="button" value="github">
                                <input class="twitter" type="button" value="Twiiter">
                                <input class="google" type="button" value="Google">
                            </div>
                            <p class="center">OR</p>
                            <form action="#" method="post">
                                <div class="user-input">
                                    <p class="user-abs">ユーザー名</p>
                                    <input class="input" placeholder="qiitan" type="text" name="username">
                                </div>
                                <div class="mail-input">
                                    <p class="mail-abs">メールアドレス</p>
                                    <input class="input" placeholder="qiitan@qiita.com" type="text" name="mailadress">
                                </div>
                                <div class="pass-input">
                                    <p class="pass-abs">パスワード</p>
                                    <input class="input" placeholder="****" type="text" name="passward">
                                </div>
                            </form>
                            <p class="tyui">8文字以上、英・数・記号が使えます</p>
                            <div class="checkbox">
                                <label>
                                    <input class="agree" type="checkbox" name="agreement" value=1>
                                    利用規約に同意する
                                </label>
                                <br>
                                <label>
                                    <input class="privacy" type="checkbox" name="privacy">
                                    プライバシーポリシーに同意する
                                </label>
                                <br>
                                <div class="robot-waku">
                                    <label class="robot-label">
                                        <input class="robot" type="checkbox" name="nonrobot">
                                        私はロボットではありません
                                    </label>
                                </div>
                                <br>
                                <input class="signup" type="button" value="登録する">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>



        <main class="main">
            <div class="main-flex">
                <div>
                    <p>記事フィード</p>
                    <p class="trend">トレンド</p>
                </div>
                <div class="boder">
                    <hr class="border-hiku">
                </div>
                <div class="q-feed">
                    <p>質問フィード</p>
                    <p class="hover">トレンド</p>
                    <p class="hover">回答募集中</p>
                    <p class="hover">新着</p>
                </div>
            </div>
            <div class="trend-article">
                <div>
                    <p>トレンド</p>
                    <p>最近の記事を毎日5時/17時に更新</p>
                    <p>全て</p>
                    <p>タグ</p>
                </div>
                <div>
                    <p>@shinkai_が2021年4月26日に投稿</p>
                    <p>(新人教育)新人エンジニアに意識して欲しい15のこと</p>
                    <p>初心者,新人教育,スキルアップ,新人プログラマ応援</p>
                </div>
                <div>
                    <p>@KLaboratoryが2021年4月25日に投稿</p>
                    <p>Visual Studio Codeの穴場拡張機能</p>
                    <p>VSCode,VisualStudioCode</p>
                </div>
                <div>
                    <p>アルゴリズム・AtCoderのための数学(後編：数学的考察編)</p>
                    <p>webサイトデザインを簡単に改善する、イタリア人デザイナーの秘訣10選</p>
                    <p>UX,UI,Design,デザイン,翻訳</p>
                </div>
                <div>
                    <p>@Misato0122が2021年4月26日に投稿</p>
                    <p>(個人開発)ポモドーロテクニックとTodoリストを組み合わせた時間管理アプリを作りました</p>
                    <p>Ruby,Rails,ポートフォリオ</p>
                </div>
                <div>
                    <p>@rana_kualuが2021年4月26日に投稿</p>
                    <p>Google Chromeが勧める広告技術FLoCのまとめ</p>
                    <p>Chorme,google,cookie,広告,FLoC</p>
                </div>
                <div>
                    <p>miizuunooが2021年4月26日に投稿</p>
                    <p>GASでPageSpeed Insights　APIを使い定期的にSpeedIndexを測定</p>
                    <p>gas,spreadsheet,SEO,PageSpeedInsights</p>
                </div>
                <div>
                    <p>@kazama1209が2021年04月28日</p>
                    <p>Next.js*TypeScript*microCMSでシンプルなコーポレートサイトを作ってみる</p>
                    <p>TypeScript,React,material-ul,next.js,microCMS</p>
                </div>
                <div>
                    <p>@a_jikeが2021年04月28日に投稿</p>
                    <p>Proxyanを使う!</p>
                    <p>iOS,debug,Web,Charies,Proxyman</p>
                </div>
                <div>
                    <p>@standard-softwareが4月26日に投稿</p>
                    <p>JavaScript 環境ならどこでも使えそうな短いコードの日付書式出力関数。コピペ用。</p>
                    <p>JavaScript</p>
                </div>
                <div>
                    <p>@tamsco274が2021年04月28日に投稿</p>
                    <p>入社３年目の私が３年前の新卒の私に言いたい５つの事柄</p>
                    <p>初心者,ポエム,初心者向け,新人プログラマ応援</p>
                </div>
                <diV>
                    <p>@inoue2002が2021年04月28日に投稿</p>
                    <p>QRコードリーダーLINEBotを作る【nodejs】</p>
                    <p>Node.js,QRcode,linebot,jimp</p>
                </diV>
                <div>
                    <p>@munaita_が2021年04月28日に投稿</p>
                    <p>Python3.9 でのdatetimeの扱いのチートシート的メモ書き</p>
                    <p>Python</p>
                </div>
                <div>
                    <p>@ucan-labが2021年04月27日に投稿</p>
                    <p>Laravelの構成概念 第3回 サービスプロバイダ編</p>
                    <p>PHP,Laravel,PHP8,laravel8</p>
                </div>
                <div>
                    <p>@ucan-labが2021年04月25日に投稿</p>
                    <p>Git ローカルのmainブランチを使わない運用</p>
                    <p>Git,GitHub,新人プログラマ応援</p>
                </div>
                <div>
                    <p>@maika_kamadaが2021年04月27日に投稿</p>
                    <p>Reactで作ったWebアプリにVueで作ったWebアプリを合体させたい</p>
                    <p>初心者,iframe,React,vue-cil,React-iframe</p>
                </div>
                <div>
                    <p>@kyosuke_hashimotoが2021年04月27日に投稿</p>
                    <p>Amazon SageMakerで実現する機械学習モデルの説明可能性可視化とバイアス監視</p>
                    <p>AWS,機械学習,監視,SageMaker,MLOps</p>
                </div>
                <div>
                    <p>@nannany_が2021年04月25日に投稿</p>
                    <p>MacBook Pro (M1チップ)の環境を整える</p>
                    <p>Mac,環境構築,M1,displylink</p>
                </div>
                <div>
                    <p>@NP_Systemsが2021年04月28日に投稿</p>
                    <p>GPT-3の概要と使い方のコツ</p>
                    <p>Python,自然言語処理,AI,gpt-3</p>
                </div>
                <div>
                    <p>@uesynが2021年04月27日に投稿</p>
                    <p>Kubernetes 1.21: 変更点まとめ(What's new!)</p>
                    <p>Kubernetes</p>
                </div>
                <div>
                    <p>@takuya_tsurumiが2021年04月26日に投稿</p>
                    <p>AWSソリューションアーキテクトアソシエイト受験記</p>
                    <p>AWS,ソリューションアーキテクト,AWS認定試験</p>
                </div>
                <div>
                    <p>@ryoya1122が2021年04月28日に投稿</p>
                    <p>AWS×オンプレ1</p>
                    <p>AWS,オンプレミス</p>
                </div>
                <div>
                    <p>@nekono_nekomoriが2021年04月25日に投稿</p>
                    <p>超解像手法/DeepSRを参考にした実装</p>
                    <p>Python,DeepLearning,Karas,TensorFlow,SuperResolution</p>
                </div>
                <div>
                    <p>@Momomomo77777が2021年04月26日に投稿</p>
                    <p>プロジェクト・勉強を期限までに終わらせたい！</p>
                    <p>スケジュール管理,工程管理</p>
                </div>
                <div>
                    <p>@loic-meister-guildが2021年04月27日に投稿</p>
                    <p>SwiftUI 2.0: iOSアプリにファイルをインポートする方法</p>
                    <p>SwiftUI,iOS14,fileimporter</p>
                </div>
                <div>
                    <p>@ysakashitaが2021年04月27日に投稿</p>
                    <p>Kubernetes 1.21: SIG Storageの変更内容</p>
                    <p>kubernetes,Storage</p>
                </div>
                <div>
                    <p>@nem_takanobuが2021年04月28日に投稿</p>
                    <p>PythonでSymbolブロックチェーンの送金プログラムを書いてみる。</p>
                    <p>Python,Blockchain,Symbol,NEM</p>
                </div>
                <div>
                    <p>@Kanahiroが2021年04月26日に投稿</p>
                    <p>Cesiumと国土地理院標高タイルで3D地図をつくろう</p>
                    <p>JavaScript,GIS,foss4g,Cesium,国土地理院</p>
                </div>
                <div>
                    <p>@s_yarmaが2021年04月26日に投稿</p>
                    <p>入社から1ヶ月で Claris FileMaker オンライン学習 初級編を観た話</p>
                    <p>FileMaker</p>
                </div>
                <div>
                    <p>@warai_otocoが2021年04月26日に投稿</p>
                    <p>ラマヌジャンの公式で円周率を計算してみる</p>
                    <p>Python,円周率,ラマヌジャン</p>
                </div>
            </div>
            <div class="adv">
                <p></p>
            </div>
        </main>

        <footer class="footer">
            <div class="footer-flex">
                <div class="foot">
                    <h1>Qiita</h1>
                    <p>How developers code is here.</p>
                </div>
                <div class="foot-flex">
                    <div class="foot-title">
                        <p class="about-title">Qiita</p>
                        <p class="increments-title">Increments</p>
                    </div>
                    <div class="fin-flex">
                        <div class="about-flex">
                            <div class="about">
                                <p>About</p>
                                <p>利用規約</p>
                                <p>プライバシー</p>
                                <p>ガイドライン</p>
                                <p>デザインガイドライン</p>
                            </div>
                            <div class="release">
                                <p>リリース</p>
                                <p>API</p>
                                <p>ご意見</p>
                                <p>ヘルプ</p>
                                <p>広告掲載</p>
                            </div>
                        </div>
                        <div class="increments-flex">
                            <div class="increments">
                                <p>About</p>
                                <p>採用情報</p>
                                <p>ブログ</p>
                            </div>
                            <div class="qiita-other">
                                <p>Qiita Team</p>
                                <p>Qiita Jobs</p>
                                <p>Qiita Zine</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>